<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <!--<iisnode     
      node_env="%path%"
      nodeprocesscommandline="c:\program files\nodejs\node.exe"
      maxprocesscountperapplication="4"
      maxconcurrentrequestsperprocess="1024"
      maxpendingrequestsperapplication="1024"
      maxnamedpipeconnectionretry="3"
      namedpipeconnectionretrydelay="2000"     
      asynccompletionthreadcount="4"
      initialrequestbuffersize="4096"
      maxrequestbuffersize="65536"
      uncfilechangespollinginterval="5000"
      gracefulshutdowntimeout="60000"
      loggingenabled="true"
      logdirectorynamesuffix="logs"
      maxlogfilesizeinkb="128"
      appendtoexistinglog="false"
     />-->


    
   </system.webServer>
  
  
  
  
</configuration>