<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
    <title>Chess</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">


    
    <link href="folder/Content/support.css" rel="stylesheet" />
    <link href="folder/Content/responsive.css" rel="stylesheet" />
    <link href="folder/Content/font-awesome.min.css" rel="stylesheet" />

    
       <script src="folder/Scripts/toaster.js"></script>
          <script src="folder/Scripts/underscore.js"></script>
          <script src="folder/Scripts/angular-cookies.js"></script>  
            <script src="folder/Scripts/MyScript/Modules.js"></script>
      <script src="folder/Scripts/MyScript/Controllers.js"></script>
      <script src="folder/Scripts/MyScript/Services.js"></script>
      <script src="folder/Scripts/MyScript/Directive.js"></script>
          <link href="folder/Content/toaster.css" rel="stylesheet" />
      <link href="folder/Content/Site.css" rel="stylesheet" />
      <link href="folder/Content/style.css" rel="stylesheet" />
     <link href="folder/Content/onlinechessgame.css" rel="stylesheet" />
      <link href="folder/Content/ng-table.min.css" rel="stylesheet" />
      <link href="folder/Content/bootstrap.min.css" rel="stylesheet" />
         <script src="folder/Scripts/bootstrap.min.js"></script>


      <script src="folder/Scripts/jquery.min.js"></script>
  </head>

<body>
    <form id="logoutform"  novalidate data-ng-init="init()">
<section id="login_bg">
<div class="trans_layer">
<div class="login_box_cover"><div align="center"><img src="Images/logo_white.png" alt="logo"></div>
<div class="container">
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8"><div class="cover_main"><h2>Logout Successfully</h2>
  <hr>
<p>Login In <a data-ui-sref="Login">here</a></p>      
</div></div>
<div class="col-sm-2"></div>
</div></div></div>
</div></section>


        </form>
</body>
</html>